{% extends "_base.html" %}
{% load i18n %}
{% load persian_translation_tags %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block title %}Checkout{% endblock title %}
{% block content %}
<!-- Breadcrumb area Start -->
{% trans "Order" as header_title %}
{% include "breadcrumb_area.html" with header_title=header_title %}
<!-- Breadcrumb area End -->
<!-- Main Content Wrapper Start -->
<div class="main-content-wrapper">
    <div class="page-content-inner">
        <div class="container">
            <div class="row pt--50 pt-md--40 pt-sm--20"></div>
            <div class="row pb--80 pb-md--60 pb-sm--40">
                <!-- Checkout Area Start -->  
                <div class="col-lg-6">
                    <div class="checkout-title mt--10">
                        <h2>{% trans "Order Items" %}</h2>
                    </div>
                    <div class="checkout-form">
                        <form class="form form--checkout" method="POST" action="">
                            {% csrf_token %}
                            {% if form.errors %}
                                <div class="alert alert-danger"> {{form.errors}}</div>
                            {% endif %}
                            {% comment %} {{ form|crispy }} {% endcomment %}
                            <div class="form-row mb--20">
                                <div class="form__group col-md-6 mb-sm--30">
                                    <label for="billing_fname" class="form__label form__label--2">{% translate "First Name" %}<span class="required">*</span></label>
                                    <input type="text" name="{{form.first_name.name}}" id="billing_fname" class="form__input form__input--2">
                                </div>
                                <div class="form__group col-md-6">
                                    <label for="billing_lname" class="form__label form__label--2">{% trans "Last Name" %}<span class="required">*</span></label>
                                    <input type="text" name="{{form.last_name.name}}" id="billing_lname" class="form__input form__input--2">
                                </div>
                            </div>
                            <div class="form-row mb--20">
                                <div class="form__group col-12">
                                    <label for="billing_company" class="form__label form__label--2">{% trans "Address" %}</label>
                                    <input type="text" name="{{form.address.name}}" id="billing_company" class="form__input form__input--2">
                                </div>
                            </div>
                            <div class="form-row mb--20">
                                <div class="form__group col-12">
                                    <label for="billing_phone" class="form__label form__label--2">{% trans "Phone Number" %}<span class="required">*</span></label>
                                    <input type="text" name="{{form.phone_number.name}}" id="billing_phone" class="form__input form__input--2">
                                </div>
                            </div>
                            {% comment %} <div class="form-row mb--20">
                                <div class="form__group col-12">
                                    <label for="billing_email" class="form__label form__label--2">{% trans "Email" %}<span class="required">*</span></label>
                                    <input type="email" name="billing_email" id="billing_email" class="form__input form__input--2">
                                </div>
                            </div> {% endcomment %}
                            <div class="form-row">
                                <div class="form__group col-12">
                                    <label for="orderNotes" class="form__label form__label--2">{% trans "Your Note" %}</label>
                                    <textarea class="form__input form__input--2 form__input--textarea" id="orderNotes" name="{{form.order_note.name}}" placeholder="اگر یادداشتی دارید در اینجا وارد کنید. در غیر این صورت این مکان را خالی بگذارید"></textarea>
                                </div>
                            </div> 
                            <button type="submit" class="btn btn-fullwidth btn-bg-sand mb--20">{% trans "Update Order" %}</button>
                        </form>
                    </div>
                </div>
                <div class="col-xl-5 offset-xl-1 col-lg-6 mt-md--40">
                    <div class="order-details">
                        <div class="checkout-title mt--10">
                            <h2>سفارش شما</h2>
                        </div>
                        <div class="table-content table-responsive mb--30">
                            <table class="table order-table order-table-2">
                                <thead>
                                    <tr>
                                        <th>{% trans "Product" %}</th>
                                        <th class="text-right">{% trans "Total Price" %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in cart %}
                                    <tr>
                                        <th>{{item.product_obj.title}}
                                            <strong><span>&#10005;</span>{{item.quantity|translate_numbers_to_persian}}</strong>
                                        </th>
                                        <td class="text-right">{{item.product_obj.price|intcomma:False|translate_numbers_to_persian}} {% trans "$" %}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr class="cart-subtotal">
                                        <th>مجموع</th>
                                        <td class="text-right">{{cart.get_total_price|intcomma:False|translate_numbers_to_persian}} {% trans "$" %}</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="checkout-payment">
                            <h2 class="py-5">روش پرداخت</h2>
                            <form action="#" class="payment-form">
                                <div class="payment-group mb--10">
                                    <div class="payment-radio">
                                        <input type="radio" value="bank" name="payment-method" id="bank" checked>
                                        <label class="payment-label" for="cheque">درگاه آنلاین زرین پال</label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Checkout Area End -->
            </div>
        </div>
    </div>
</div>
<!-- Main Content Wrapper Start -->
{% endblock content %}